{% extends "layout.html" %}
{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome to MangaPy
            </h1>
            <h2 class="subtitle">
                Reading manga made simple.
            </h2>
        </div>
    </div>
</section>


<div class="columns is-variable is-6">
    <div class="column is-9">
        <h5 class="title is-5">Latest Update</h5>
        <div class="columns is-multiline">
            {% for manga in hotmanga %}
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by5">
                            <img src="{{ manga.cover_url }}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content is-small">
                            <h6 class="has-text-centered is-6">{{ manga.chapter }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="column  is-3 ">
        <h5 class="title is-5">Popular</h5>
        <div class="box">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content is-small">
                        <strong class="title is-size-5">Manga</strong>
                        <p class="top-1"><strong class="has-text-info">Latest Chapter: 800</strong></p>
                        <p class="has-text-grey top-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Proin
                            ornare
                            magna eros, eu
                            pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                        </p>
                        <div class="tags">
                            <span class="tag">One</span>
                            <span class="tag">Two</span>
                            <span class="tag">Three</span>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="box">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="https://s3.mangapanda.com/cover/naruto/naruto-l0.jpg">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content is-small">
                        <strong class="title is-size-5">Manga</strong>
                        <p class="top-1"><strong class="has-text-info">Latest Chapter: 800</strong></p>
                        <p class="has-text-grey top-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Proin
                            ornare
                            magna eros, eu
                            pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                        </p>
                        <div class="tags">
                            <span class="tag">One</span>
                            <span class="tag">Two</span>
                            <span class="tag">Three</span>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="box">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content is-small">
                        <strong class="title is-size-5">Manga</strong>
                        <p class="top-1"><strong class="has-text-info">Latest Chapter: 800</strong></p>
                        <p class="has-text-grey top-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Proin
                            ornare
                            magna eros, eu
                            pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                        </p>
                        <div class="tags">
                            <span class="tag">One</span>
                            <span class="tag">Two</span>
                            <span class="tag">Three</span>
                        </div>
                    </div>
            </article>
        </div>

        <div class="box">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content is-small">
                        <strong class="title is-size-5">Manga</strong>
                        <p class="top-1"><strong class="has-text-info">Latest Chapter: 800</strong></p>
                        <p class="has-text-grey top-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Proin
                            ornare
                            magna eros, eu
                            pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                        </p>
                        <div class="tags">
                            <span class="tag">One</span>
                            <span class="tag">Two</span>
                            <span class="tag">Three</span>
                        </div>
                    </div>
            </article>
        </div>

        <div class="box">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content is-small">
                        <strong class="title is-size-5">Manga</strong>
                        <p class="top-1"><strong class="has-text-info">Latest Chapter: 800</strong></p>
                        <p class="has-text-grey top-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Proin
                            ornare
                            magna eros, eu
                            pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                        </p>
                        <div class="tags">
                            <span class="tag">One</span>
                            <span class="tag">Two</span>
                            <span class="tag">Three</span>
                        </div>
                    </div>
            </article>
        </div>
    </div>
</div>

<!-- <div class="columns is-variable is-6">
    <div class="column is-9">
        <h5 class="title is-5">Latest Update</h5>
        <div class="columns is-multiline">
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by5">
                            <img src="https://s3.mangapanda.com/cover/one-piece/one-piece-l1.jpg"
                                alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content is-small">
                            <h6 class="has-text-centered is-6">ONE PIECE MANGA</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by5">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content is-small">
                            <h1 class="has-text-centered">Manga1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by5">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content is-small">
                            <h1 class="has-text-centered">Manga1</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-3">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by5">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content is-small">
                            <h1 class="has-text-centered">Manga1</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <h5 class="title is-5">Today's Manga</h5>
            <table class="table is-bordered is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Chapter</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="column">
            <h5 class="title is-5">Yesterday's Manga</h5>
            <table class="table is-bordered is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Chapter</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                    <tr>
                        <td>Title1</td>
                        <td>100, 101</td>
                        <td>3/25/2019</td>
                        <td>8:30 AM</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->

<!-- </div> -->
{% endblock %}