.top-1 {
    margin-top: 0.75rem
}

.top-2 {
    margin-top: 1rem
}


.top-3 {
    margin-top: 1.25rem
}


.top-4 {
    margin-top: 1.5rem
}

.top-5 {
    margin-top: 2rem
}

.top-6 {
    margin-top: 2.5rem
}

.top-7 {
    margin-top: 3rem
}