<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">


    {% if title %}
    <title>Manga Downloader - {{ title }}</title>
    {% else %}
    <title>Manga Downloader</title>
    {% endif %}
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('main.home') }}">
                    Home
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if current_user.is_authenticated %}
                        <a class="button is-light" href="{{ url_for('users.logout') }}">
                            Logout
                        </a>
                        {% else %}
                        {% if request.path != '/register' %}
                        <a class="button is-primary" href="{{ url_for('users.register') }}">
                            <strong>Sign up</strong>
                        </a>
                        {% endif %}
                        {% if request.path != '/login' %}
                        <a class="button is-primary" href="{{ url_for('users.login') }}">
                            <strong>Sign In</strong>
                        </a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <!-- <p>{{ request.path }}</p> -->
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="column">
            {% block content %}{%endblock%}
        </div>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>MangaPy</strong> by <a href="#">Christian Lester Cayabyab</a>.

            </p>
        </div>
    </footer>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>

</html>